.navbar {
    margin-bottom: 0
}

#mailing-form{
    padding-left: 0;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -250px;
}

.footer, .push {
    height: 250px;
}

.footer {
    padding-top: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    background-color: #eee;
}
#login {
    margin: 40px auto;
    width: 30%;
}

input {
    margin-bottom: 5px;
}

#acessibilidade {
    font-size: 0.8em;
}

.dl-horizontal dt {
    text-align: left;
    width: 13%;
}

.dl-horizontal dd {
    margin-left: 0;
}

.footer h2 img {
    margin-left: 5%;
}

/* CONTRASTE */

body.contraste,
body.contraste .navbar,
body.contraste .container,
body.contraste .footer {
    background: #000 !important;
    color: #fff !important;
}
body.contraste .navbar-default .navbar-brand,
body.contraste .navbar-default .navbar-nav>li>a:hover,
body.contraste .navbar-default .navbar-nav>li>a:focus,
body.contraste .navbar-default .navbar-nav>li>a,
body.contraste a {
    color: #fff !important;
}

body.contraste .footer {
    border-top: 1px solid #FFF;
}

body.contraste .table-striped>tbody>tr:nth-child(odd)>td,
body.contraste .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #222;
}

body.contraste .alert-info,
body.contraste .alert-warning,
body.contraste .alert-success,
body.contraste .alert-danger {
    background-color: #000 !important;
    border-color: #FFF;
    color: #FFF !important;
}

body.contraste .rss_icon {
    background-image: url(../images/rss_24_contraste.png);
}

/* ícone rss */
.rss_icon {
    display: block;
    background: transparent url("../images/rss_24.png") no-repeat;
    margin: 0;
    padding-left: 30px;
    padding-top: 5px;
    height: 24px;
}
    